body{
    background-color: lightblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
}

.container{
    margin: auto;
    height: 400px;
    display: inline-flex;
    position: relative;
}

.white-keys{
    display: flex;
}

.white-keys kbd{
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: white;
    border: 2px solid slategray;
    width: 70px;
    height: 100%;
    text-align: center;
    line-height: 700px;
}

.black-keys {
    position: absolute;
    left: 35px;
    display: flex;
}

.black-keys kbd{
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: black;
    color: white;
    border: 2px solid slategray;
    width: 70px;
    height: 250px;
    text-align: center;
    line-height: 400px;
}
.black-keys kbd:nth-child(3){
    margin-left: 70px;
}

